@import '../index.css';

.main-container{
  background-color: #F7F2EC;
  border: none;
  border-radius: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}