@import '../../index.css';

.header-container{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
  
    background-color: chartreuse;
}

.logo-container{
    width: 50%;
}

.logo-container img{
    width: 100%;
}


.btns-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 20%;
}

.btn-header{
    border: none;
    width: 100px;
    height: 40px;
}

.login-btn-container{

    width: 10%;
}

.login-btn-container img{
    width: 100px;
    height: 100px;
}
