@import '../../index.css';

.header-container{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.logo-container{
    width: 40%;
}

.logo-container img{
    width: 60%;
}


.user-admin{
    width: 7rem;
    margin: 10%;
}


.btns-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    min-width: 30%;
}
