@import '../../index.css';

.carrusel-container{
  background-color: chartreuse;
  width: 80%;
  height: 600px;
}

.carrusel-item{
  width: 100%;
  height: 600px;
}

.indicators{
  background-color: chartreuse;
}

.caption{
  background-color: chartreuse;
}