@import '../../index.css';

.masonery {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 5%;
	padding: .5%;
	width: 90%;
}

.masonery-item{
	flex-basis: 25%;
	flex-grow: calc(2);
	padding-right: 10px;
	margin-top: 10px;


}



.masonery-item img{ 
	width: 100%;
	box-shadow: 5px 5px 4px #0b164152;
}


.title-img{
	width: 100%;
	height: 100px;
	position:relative;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
	background-color: #0b16419d;
	transform: translate(0%, -100%);
	opacity: 0;
	padding-top: 10%;
}


.masonery-item :hover{
	transition: .3s ease;
	opacity: 1;
	cursor: pointer;

}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
.grid-wrapper {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 90%;

}

.btn-img{
height: 500px;
}

.tall{
	display: none;
}

.image__title {
  position: relative;
  text-align: center;
	font-size: 50px;
  color: white;
	top: -50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .5s ease;
	background-color: #0b1641a6;
	padding-top: 15%;
	padding-bottom: 15%;
	opacity: 0;
	
}

.image__title:hover{

	opacity: 1;
	cursor: pointer;

}
  
}